.apimsg-preview{
	font-size: 14px;
	width: 380px;
	height: 263px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: white;
	margin-top: 10px;
	margin-left: 5px;
	background-color: white;
}
.apimsg-preview .title{
    height: 15px;
    text-align: left;
    padding: 12px 50px 12px 20px;
    color: #3b4f61;
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
    font-weight: bold;
}
.apimsg-preview .title:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(rgba(0, 0, 0, 0)));
    left: 0;
    top: 40px;
    opacity: 0.1;
}
.apimsg-preview .content{
    border: 1px solid #f5f5f5;
	width: 320px;
	height: 117px;
    padding: 10px;
    margin: 20px 20px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	word-wrap: break-word;
	word-break: normal;
}

.apimsg-preview .content textarea{
    font-size: 12px;
    border: none;
    color: #173553;
    width: 317px;
    height: 97px;
    outline: none;
    resize: none;
}

.apimsg-preview .content .count{
    font-size: 10px;
    float: right;
}

.apimsg-preview .content .count .over{
    color: #f96868;
}

.apimsg-preview .btn{
    text-align: right;
    margin: 20px 20px;
}

.apimsg-preview .tool-icon-container{
	position: absolute;
	height: 20px;
	top: 5px;
	right: 7px;
}
.apimsg-preview .tool-icon-container .tool-icon{
	font-size: 10px;
	padding: 4px;
	cursor: pointer;
}
.apimsg-preview .tool-icon-container .icon-close:hover{
	background-color: red;
	color: #ffffff;
}