.login-container{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 420px;
    height: 490px;
    background-color: #3B4F61;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(00,00,00, .2);
    z-index: 1;
}
.login-container .login-form{
    position: absolute;
    width: 420px;
    height: 420px;
    text-align: center;
}
.login-container .login-form .avatar-node{
    height: 100px;
    border-radius: 50px;
    margin-top: 40px;
}
.login-container .login-form .avatar-node .avatar{
    position: absolute;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    z-index: 99;
    left: 158px;
    border: 2px solid rgba(0,0,0,0);
}
.login-container .login-form .avatar-node .avatar.user{
    cursor: pointer;
}
.login-container .login-form .avatar-node .avatar.user:hover {
    border: 2px solid #ede90e;
}
.login-container .login-form .multi-avatar{
    position: absolute;
    width: 100%;
    padding-left:15px;
    height: 140px;
    transition:all 0.3s;
}
ul#nav1 li{
    display: inline;
    float: left;
    width: 64px;
    height: 64px;
    margin-left: 26px;
    margin-bottom: 16px;
}
ul#nav1 .header{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0);
}
ul#nav1 .header:hover{
    border: 2px solid #ede90e;
}
ul#nav1 li .user{
    cursor: pointer;
}
ul#nav1 li .user.sel{
}
.close-avatar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: none;
    margin-left: 2px;
    margin-top: 2px;
}

.login-container .login-form .login-fail-notification{
    color: white;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 270px;
    height: 30px;
    top: 157px;
    left: 75px;
    background-color: #ff9e9e;
    border-radius: 4px;
    display: none;
}
.login-container .login-form .login-fail-notification .login-warning{
    position: absolute;
    left: 25px;
    top: 7px;
    width: 16px;
    height: 16px;
}
.login-container .login-form .login-fail-notification .login-warning-content{
    font-size: 14px;
    position: absolute;
    left: 55px;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 185px;
    text-align: left;
}

.login-container .login-form .check-key{
    color: #f96868;
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
    position: absolute;
    width: 200px;
    top: 255px;
    left: 75px;
    z-index: 10;
}

@keyframes login-loading1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform:rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform:rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes login-loading1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.login-loading1{
    position: absolute;
    top: 34px;
    left: 152px;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    background: linear-gradient(to top left, #fffbfb,#3b4f61);
    text-align: center;
    animation: login-loading1 2s infinite linear;
    display: none;
    z-index: 50;
}
.login-loading2{
    position: absolute;
    top: 35px;
    left: 153px;
    height: 118px;
    width: 118px;
    border-radius: 118px;
    text-align: center;
    display: none;
    z-index: 50;
    background: #3b4f61;
}

.login-container .login-form .input-container{
    margin-top: 50px;
}
.login-container .login-form .input-container .input{
    width: 270px;
    border: none;
    border-bottom: 1px solid #445768;
    font-size: 14px;
    background-color: #3C4F60;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}

.login-container .login-form .input-container .common-account .input.account {
    position: absolute;
    bottom: 173px;
    left: 75px;
}
.login-container .login-form .input-container .common-account .input.password {
    position: absolute;
    bottom: 113px;
    left: 75px;
}
.login-container .login-form .input-container .corporate-area .input.corporate-account{
    position: absolute;
    bottom: 193px;
    left: 75px;
}
.login-container .login-form .input-container .corporate-area .input.personal-account{
    position: absolute;
    bottom: 141px;
    left: 75px;
}
.login-container .login-form .input-container .corporate-area .input.password{
    position: absolute;
    bottom: 91px;
    left: 75px;
}
.login-container .login-form .input-container .corporate-area{
    display:none;
}


.login-container .login-form .input-container .input:hover,
.login-container .login-form .input-container .input:focus{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.login-container .login-form .common-account .login-btn {
    left: 75px;
    top: 357px;
    position: absolute;
    width: 270px;
    height: 32px;
    color: white;
    border-radius: 2px;
    background-color: #47607a;
    text-align: center;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
}
.login-container .login-form .common-account .login-btn:hover,
.login-container .login-form .corporate-area .login-btn:hover{
    background-color: #ede90e;
    color: #47607a;
}

.login-container .login-form  .login-btn .busy{
    background-color: #466079;
    color: #DEE3E6;
}

.login-container .login-form .corporate-area .login-btn{
    /*left: 75px;*/
    top: 357px;
    position: absolute;
    width: 170px;
    height: 32px;
    color: white;
    border-radius: 2px;
    background-color: #47607a;
    text-align: center;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    right: 75px;
}


.login-container .login-form .corporate-area .back-to-login{
    top: 357px;
    position: absolute;
    width: 90px;
    height: 32px;
    color: white;
    border-radius: 2px;
    background-color: #adadad;
    text-align: center;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    left: 75px;
}


.login-container .show-detail{
    position: absolute;
    height: 20px;
    width: 28px;
    cursor: pointer;
    left: 196px;
    top: 462px;
}
.login-container .show-detail .detail-btn{
    position: absolute;
    left: 0px;
    top: 10px;
    width: 28px;
    height: 4px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background: rgba(255,255,255, 0.5);
}

.tool-icon-container{
    z-index: 2;
    top: 24px;
    right: 34px;
}

.details{
    position: absolute;
    top: 508px;
    left: 28px;
    width: 400px;
    height: 110px;
    background-color: #3C4F60;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    /*text-align: center;*/
    display: none;
    box-shadow: 0 6px 15px rgba(00,00,00, .2);
}

/*��չ������ʽ*/
ul#nav{
    width: 400px;
    margin: 20px 0 20px 60px;
    color: #fff;
    text-align: left;
    line-height: 2;
    font-size: 12px;
}

ul#nav li{
    display: inline;
    width: 45%;
    float: left;
}

ul#nav li a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}
.switch {
    width: 24px;
    height: 8px;
    position: relative;
    float: left;
    margin-top: 8px;
}

.switch input {
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
}

.switch label {
    position: absolute;
    /*z-index: -1;*/
    background: #456179;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.switch label i {
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    background: linear-gradient(to top left, #c3c3c3,#ffffff);
    left: -2px;
}

.switch input:checked ~ label {
    background: #ede90e;
}

.switch input:checked ~ label i {
    left: 12px;
}

.remember-pwd, .automatic-login{
    float: left;
    margin: 7px;
    font-size: 14px;
    /*width: 100%;*/
}
.forgetPwd {
    float: right;
    margin-right: 100px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.forgetPwd:hover{
    color: #ede90e;
}
.words{
    float: left;
    margin-left: 8px;
    cursor: default;
}

.login-form .corporate-account-login{
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    right: 85px;
    color: #c3c3c3;
    cursor: pointer;
}
.login-form .corporate-icon{
    margin-bottom: -2px;
    margin-right: 7px;
}
.btn-length-change{
    width:280px!important;
}
